# Scrape VEI Pandas Table from Wikipedia's Volcanic explosivity index article

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in HTML tables into a DataFrame
df = pd.read_html('https://en.wikipedia.org/wiki/Volcanic_explosivity_index',encoding='utf-8')

In [3]:
# Select the first table to get the VEI table
vei_df = df[0]

In [4]:
# remove the second level of columns (i.e., the 'Examples' columns)
vei_df.columns = vei_df.columns.droplevel(level=1)

In [5]:
# rename the Stratospheric injection[2] column to remove the footnote hyperlink
vei_df.rename(columns={'Stratospheric injection[2]': 'Stratospheric injection'}, inplace=True)

In [6]:
# drop the last Unnamed: 8_level_0 full of NaN values
vei_df = vei_df.iloc[:, :-1]

In [7]:
# Remove the duplicate VEI rows with links to specific volcanos from the DataFrame
vei_df = vei_df.iloc[[0, 2, 4, 6, 8, 10, 12, 14,16]]

In [8]:
vei_df.head(11)

,VEI,Ejecta volume (bulk),Classification,Description,Plume,Periodicity,Tropospheric injection,Stratospheric injection
0,0,< 104 m3,Hawaiian,Effusive,< 100 m,constant,negligible,none
2,1,> 104 m3,Hawaiian / Strombolian,Gentle,100 m – 1 km,daily,minor,none
4,2,> 106 m3,Strombolian / Vulcanian,Explosive,1–5 km,2 weeks,moderate,none
6,3,> 107 m3,Strombolian / Vulcanian / Peléan / Sub-Plinian,Severe,3–15 km,3 months,substantial,possible
8,4,> 0.1 km3,Peléan / Plinian / Sub-Plinian,Catastrophic,> 10 km,18 months,substantial,definite
10,5,> 1 km3,Peléan / Plinian,Cataclysmic,> 10 km,12 years,substantial,significant
12,6,> 10 km3,Plinian / Ultra-Plinian,Colossal,> 20 km,50–100 years,substantial,substantial
14,7,> 100 km3,Ultra-Plinian,Super-colossal,> 20 km,"500–1,000 years",substantial,substantial
16,8,"> 1,000 km3",Ultra-Plinian,Mega-colossal,> 20 km,"> 50,000 years[3][4]",vast,vast

In [9]:
# Adjust some of the cells that need to be reformatted 
vei_df.loc[14, 'Periodicity'] = "500–1000 years"
vei_df.loc[16, 'Periodicity'] = "> 50000 years"
new_values = ['< 10^4 m^3', '> 10^4 m^3', '> 10^6 m^3','> 10^7 m^3','> 0.1 km^3','> 1 km3','> 10 km^3','> 100 km^3','> 1000 km^3']
vei_df['Ejecta  volume (bulk)']=new_values

# Row to add
new_row1 = {'VEI':'Unknown VEI', 'Ejecta  volume (bulk)':None, 'Classification':None, 'Description':None, 'Plume':None, 'Periodicity':None, 'Tropospheric injection':None,'Stratospheric injection':None}
new_row2 = {'VEI':'No confirmed eruptions', 'Ejecta  volume (bulk)':None, 'Classification':None, 'Description':None, 'Plume':None, 'Periodicity':None, 'Tropospheric injection':None,'Stratospheric injection':None}
# Append the new rows to the DataFrame
vei_df = vei_df.append(new_row1, ignore_index=True)
vei_df = vei_df.append(new_row2, ignore_index=True)

C:\Users\Christopher Hornung\AppData\Local\Temp\ipykernel_42816\2011598908.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vei_df = vei_df.append(new_row1, ignore_index=True)
C:\Users\Christopher Hornung\AppData\Local\Temp\ipykernel_42816\2011598908.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vei_df = vei_df.append(new_row2, ignore_index=True)

In [10]:
vei_df.head(11)

,VEI,Ejecta volume (bulk),Classification,Description,Plume,Periodicity,Tropospheric injection,Stratospheric injection
0,0,< 10^4 m^3,Hawaiian,Effusive,< 100 m,constant,negligible,none
1,1,> 10^4 m^3,Hawaiian / Strombolian,Gentle,100 m – 1 km,daily,minor,none
2,2,> 10^6 m^3,Strombolian / Vulcanian,Explosive,1–5 km,2 weeks,moderate,none
3,3,> 10^7 m^3,Strombolian / Vulcanian / Peléan / Sub-Plinian,Severe,3–15 km,3 months,substantial,possible
4,4,> 0.1 km^3,Peléan / Plinian / Sub-Plinian,Catastrophic,> 10 km,18 months,substantial,definite
5,5,> 1 km3,Peléan / Plinian,Cataclysmic,> 10 km,12 years,substantial,significant
6,6,> 10 km^3,Plinian / Ultra-Plinian,Colossal,> 20 km,50–100 years,substantial,substantial
7,7,> 100 km^3,Ultra-Plinian,Super-colossal,> 20 km,500–1000 years,substantial,substantial
8,8,> 1000 km^3,Ultra-Plinian,Mega-colossal,> 20 km,> 50000 years,vast,vast
9,Unknown VEI,None,None,None,None,None,None,None
10,No confirmed eruptions,None,None,None,None,None,None,None

In [11]:
# Write vei_df to csv
vei_df.to_csv('Output/vei_df.csv', index=False, encoding='utf-8')

# Create PEI Pandas Table

In [12]:
# Create dataframe from image from opulations around Holocene volcanoes and development of a Population Exposure IndexPublisher: Cambridge University PressEditors: Susan C. Loughlin, Steve Sparks, Sarah K. Brown, Susanna F. Jenkins, Charlotte Vye-Brown
#https://www.researchgate.net/publication/280714829_Populations_around_Holocene_volcanoes_and_development_of_a_Population_Exposure_Index
data = {
    'Population Exposure Index': [1, 2, 3, 4, 5, 6, 7],
    'Number of Volcanoes': [197, 642, 157, 178, 188, 128, 61],
    'Percentage of Volcanoes (%)': [12.7, 41.4, 10.1, 11.5, 12.1, 8.3, 3.9],
    'Percentage of Total Weighted Population (%)': [0, 0.4, 1.0, 3.5, 11.4, 23.8, 59.9]
}

pei_df = pd.DataFrame(data)
pei_df

,Population Exposure Index,Number of Volcanoes,Percentage of Volcanoes (%),Percentage of Total Weighted Population (%)
0,1,197,12.7,0.0
1,2,642,41.4,0.4
2,3,157,10.1,1.0
3,4,178,11.5,3.5
4,5,188,12.1,11.4
5,6,128,8.3,23.8
6,7,61,3.9,59.9

In [13]:
# Write vei_df to csv
pei_df.to_csv('Output/pei_df.csv', index=False, encoding='utf-8')

# Scrape VEI Pandas Table from Wikipedia's List of volcanic eruptions by death toll article

In [14]:
# Read in HTML tables into a DataFrame
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_volcanic_eruptions_by_death_toll',encoding='utf-8')
volcanic_eruptions_by_death_toll_df= df[1]

In [15]:
volcanic_eruptions_by_death_toll_df=volcanic_eruptions_by_death_toll_df.iloc[:, :-1]

In [16]:
volcanic_eruptions_by_death_toll_df.head(10)

,Human death toll,Volcano,VEI,Location,Year,Eruption
0,"71,000 to 250,100+",Mount Tambora,7,Indonesia,1815,"1815 eruption of Mount Tambora, Year Without a..."
1,"36,000+",Krakatoa,6,Indonesia,1883,1883 eruption of Krakatoa
2,30000,Mount Pelée,4,Martinique,1902,1902 eruption of Mount Pelée
3,23000,Nevado del Ruiz,3,Colombia,1985,Armero tragedy
4,"20,000~ (estimated)",Santorini,7,Greece,c. 1600 BC,Minoan eruption
5,"15,000 to 20,000",Mount Samalas,7,Indonesia,1257,1257 Samalas eruption
6,15000,Mount Unzen,2,Japan,1792,1792 Unzen earthquake and tsunami
7,"13,000+ (estimated)",Mount Vesuvius,5,Italy,79,Eruption of Mount Vesuvius in 79 AD
8,"10,000+",Laki and Grímsvötn,4,Iceland,1783,Laki#1783 eruption
9,10000,Kelud,5,Indonesia,1586,NaN

In [17]:
# Drop Eruption Column
volcanic_eruptions_by_death_toll_df = volcanic_eruptions_by_death_toll_df.drop('Eruption', axis = 1)

print(volcanic_eruptions_by_death_toll_df.head(10))

      Human death toll             Volcano VEI    Location        Year
0   71,000 to 250,100+       Mount Tambora   7   Indonesia        1815
1              36,000+            Krakatoa   6   Indonesia        1883
2                30000         Mount Pelée   4  Martinique        1902
3                23000     Nevado del Ruiz   3    Colombia        1985
4  20,000~ (estimated)           Santorini   7      Greece  c. 1600 BC
5     15,000 to 20,000       Mount Samalas   7   Indonesia        1257
6                15000         Mount Unzen   2       Japan        1792
7  13,000+ (estimated)      Mount Vesuvius   5       Italy          79
8              10,000+  Laki and Grímsvötn   4     Iceland        1783
9                10000               Kelud   5   Indonesia        1586

In [18]:
# Changing Special Values
volcanic_eruptions_by_death_toll_df.loc[1, 'Human death toll'] = "36,000"
volcanic_eruptions_by_death_toll_df.loc[4, 'Human death toll'] = "20,000"
volcanic_eruptions_by_death_toll_df.loc[5, 'Human death toll'] = "15,000"
volcanic_eruptions_by_death_toll_df.loc[7, 'Human death toll'] = "13,000"
volcanic_eruptions_by_death_toll_df.loc[8, 'Human death toll'] = "10,000"
volcanic_eruptions_by_death_toll_df.loc[39, 'Human death toll'] = "400"
volcanic_eruptions_by_death_toll_df.loc[47, 'Human death toll'] = "160"
volcanic_eruptions_by_death_toll_df.loc[60, 'Human death toll'] = "70"

print(volcanic_eruptions_by_death_toll_df.head(10))

     Human death toll             Volcano VEI    Location        Year
0  71,000 to 250,100+       Mount Tambora   7   Indonesia        1815
1              36,000            Krakatoa   6   Indonesia        1883
2               30000         Mount Pelée   4  Martinique        1902
3               23000     Nevado del Ruiz   3    Colombia        1985
4              20,000           Santorini   7      Greece  c. 1600 BC
5              15,000       Mount Samalas   7   Indonesia        1257
6               15000         Mount Unzen   2       Japan        1792
7              13,000      Mount Vesuvius   5       Italy          79
8              10,000  Laki and Grímsvötn   4     Iceland        1783
9               10000               Kelud   5   Indonesia        1586

In [19]:
# Renaming Human Death Toll to Human Death Toll (Min) Column
volcanic_eruptions_by_death_toll_df.rename(columns={'Human death toll': 'Human Death Toll (Min)'}, inplace=True)

# Copy Human Death Toll (Min) to create Human Death Toll (Max)
volcanic_eruptions_by_death_toll_df['Human Death Toll (Max)'] = volcanic_eruptions_by_death_toll_df['Human Death Toll (Min)']

# Rearrange column names
volcanic_eruptions_by_death_toll_df = volcanic_eruptions_by_death_toll_df[['Human Death Toll (Min)', 'Human Death Toll (Max)', 'Volcano', 'Location', 'Year', 'VEI']]

# Print volcanic_eruptions_by_death_toll_df
print(volcanic_eruptions_by_death_toll_df)

    Human Death Toll (Min) Human Death Toll (Max)          Volcano  \
0       71,000 to 250,100+     71,000 to 250,100+    Mount Tambora
1                   36,000                 36,000         Krakatoa
2                    30000                  30000      Mount Pelée
3                    23000                  23000  Nevado del Ruiz
4                   20,000                 20,000        Santorini
..                     ...                    ...              ...
109                      1                      1     Cumbre Vieja
110                      1                      1        Stromboli
111                      1                      1          Chaitén
112                      1                      1     Raoul Island
113                      1                      1          Eldfell

        Location        Year VEI
0      Indonesia        1815   7
1      Indonesia        1883   6
2     Martinique        1902   4
3       Colombia        1985   3
4         Greece  c. 1600 BC   7
..           ...         ...  ..
109        Spain        2021   3
110        Italy        2019   2
111        Chile        2008   4
112  New Zealand        2006   1
113      Iceland        1973   3

[114 rows x 6 columns]

In [20]:
# Changing Special Values
volcanic_eruptions_by_death_toll_df.loc[0, 'Human Death Toll (Min)'] = "71,000"
volcanic_eruptions_by_death_toll_df.loc[0, 'Human Death Toll (Max)'] = "250,000"
volcanic_eruptions_by_death_toll_df.loc[5, 'Human Death Toll (Min)'] = "15,000"
volcanic_eruptions_by_death_toll_df.loc[5, 'Human Death Toll (Max)'] = "20,000"
volcanic_eruptions_by_death_toll_df.loc[40, 'Human Death Toll (Min)'] = "350"
volcanic_eruptions_by_death_toll_df.loc[40, 'Human Death Toll (Max)'] = "400"
volcanic_eruptions_by_death_toll_df.loc[46, 'Human Death Toll (Min)'] = "190"
volcanic_eruptions_by_death_toll_df.loc[46, 'Human Death Toll (Max)'] = "2900"
volcanic_eruptions_by_death_toll_df.loc[54, 'Human Death Toll (Min)'] = "108"
volcanic_eruptions_by_death_toll_df.loc[54, 'Human Death Toll (Max)'] = "120"
volcanic_eruptions_by_death_toll_df.loc[86, 'Human Death Toll (Min)'] = "15"
volcanic_eruptions_by_death_toll_df.loc[86, 'Human Death Toll (Max)'] = "30"
volcanic_eruptions_by_death_toll_df.loc[39, 'Location'] = "United States"
volcanic_eruptions_by_death_toll_df.loc[19, 'VEI'] = None
volcanic_eruptions_by_death_toll_df.loc[48, 'VEI'] = None
volcanic_eruptions_by_death_toll_df.loc[89, 'VEI'] = None
volcanic_eruptions_by_death_toll_df.loc[48, 'VEI'] = None
volcanic_eruptions_by_death_toll_df.loc[89, 'VEI'] = None
volcanic_eruptions_by_death_toll_df.loc[19, 'Year'] = 1700
volcanic_eruptions_by_death_toll_df.loc[4, 'Year'] = -1600
volcanic_eruptions_by_death_toll_df['Location'] = volcanic_eruptions_by_death_toll_df['Location'].replace('St. Vincent', 'Saint Vincent and the Grenadines')
volcanic_eruptions_by_death_toll_df.dtypes

Human Death Toll (Min)    object
Human Death Toll (Max)    object
Volcano                   object
Location                  object
Year                      object
VEI                       object
dtype: object

In [21]:
# Function to clean and convert to integer
def clean_and_convert(value):
    try:
        # Remove commas
        value = value.replace(',','')
        ## Convert to integer
        return int(value)
    except ValueError:
        # Handle cases where the value is not convertible to int
        return None

In [22]:
# Apply the function to 'Human Death Toll (Min)' column
volcanic_eruptions_by_death_toll_df['Human Death Toll (Min)'] = volcanic_eruptions_by_death_toll_df['Human Death Toll (Min)'].apply(clean_and_convert)

# Apply the function to 'Human Death Toll (Max)' column
volcanic_eruptions_by_death_toll_df['Human Death Toll (Max)'] = volcanic_eruptions_by_death_toll_df['Human Death Toll (Max)'].apply(clean_and_convert)

In [23]:
# Change Human Death Toll Columns to Float
volcanic_eruptions_by_death_toll_df['Human Death Toll (Min)'] = volcanic_eruptions_by_death_toll_df['Human Death Toll (Min)'].astype(float)
volcanic_eruptions_by_death_toll_df['Human Death Toll (Max)'] = volcanic_eruptions_by_death_toll_df['Human Death Toll (Max)'].astype(float)

print(volcanic_eruptions_by_death_toll_df)

     Human Death Toll (Min)  Human Death Toll (Max)          Volcano  \
0                   71000.0                250000.0    Mount Tambora
1                   36000.0                 36000.0         Krakatoa
2                   30000.0                 30000.0      Mount Pelée
3                   23000.0                 23000.0  Nevado del Ruiz
4                   20000.0                 20000.0        Santorini
..                      ...                     ...              ...
109                     1.0                     1.0     Cumbre Vieja
110                     1.0                     1.0        Stromboli
111                     1.0                     1.0          Chaitén
112                     1.0                     1.0     Raoul Island
113                     1.0                     1.0          Eldfell

        Location   Year VEI
0      Indonesia   1815   7
1      Indonesia   1883   6
2     Martinique   1902   4
3       Colombia   1985   3
4         Greece  -1600   7
..           ...    ...  ..
109        Spain   2021   3
110        Italy   2019   2
111        Chile   2008   4
112  New Zealand   2006   1
113      Iceland   1973   3

[114 rows x 6 columns]

In [24]:
# Write volcanic_eruptions_by_death_toll_df to csv
volcanic_eruptions_by_death_toll_df.to_csv('Output/volcanic_eruptions_by_death_toll_df.csv', index=True, index_label='index',encoding='utf-8')

# Scrape Volcano - Population Exposure Index(GVM) JSON from United Nations Office for Disaster Risk Reduction (UNDRR)

In [25]:
import requests
import json
import csv

url = "https://data.humdata.org/dataset/a60ac839-920d-435a-bf7d-25855602699d/resource/7234d067-2d74-449a-9c61-22ae6d98d928/download/volcano.json"

In [26]:
try:
    response = requests.get(url)
    response.raise_for_status()  # Raise an exception if the request was unsuccessful

    # Parse the JSON data
    json_data = response.json()

   # Export the data to the JSON file
    with open('Output/volcano_data.json', 'w',encoding='utf-8') as outfile:
        json.dump(json_data, outfile)

    print(f'Data has been successfully exported to volcano_data.json.')

except requests.exceptions.RequestException as e:
    print("Error:", e)

Data has been successfully exported to volcano_data.json.

In [27]:
with open('Output/volcano_data.json', 'r',encoding='utf-8') as file:
    data = json.load(file)

In [28]:
# Read the JSON data from the file
with open('Output/volcano_data.json', 'r',encoding='utf-8') as json_file:
    data = json.load(json_file)
# Specify the CSV file where you want to write the data
csv_file = 'Output/volcano_data.csv'

# Define the CSV header (based on the keys in the JSON objects)
csv_header = ['VolcanoID','V_Name','Country','Region','Subregion','Latitude','Longitude','PEI','H_active','VEI_Holoce','hazard','class','risk','field_14', 'field_15']

# Write the JSON data to the CSV file
with open(csv_file, 'w', newline='',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file, fieldnames=csv_header)
    
    # Write the header row
    writer.writeheader()
    
    # Write the data rows
    for item in data['features']:
        writer.writerow(item['properties'])

print(f'JSON data has been successfully written to {csv_file}.')

JSON data has been successfully written to <_io.TextIOWrapper name='Output/volcano_data.csv' mode='w' encoding='utf-8'>.

In [29]:
#Import and visualize volcano data
volcano_df = pd.read_csv('Output/volcano_data.csv', encoding='utf-8')
# Drop field_14 Column
volcano_df = volcano_df.drop('field_14', axis = 1)
# Drop field_15 Column
volcano_df = volcano_df.drop('field_15', axis = 1)
volcano_df.head(10)

,VolcanoID,V_Name,Country,Region,Subregion,Latitude,Longitude,PEI,H_active,VEI_Holoce,hazard,class,risk
0,210010,West Eifel Volcanic Field,Germany,Mediterranean and W Asia,Western Europe,50.170,6.850,6,0,Unknown VEI,NaN,U-HR,NaN
1,210020,Cha?ne des Puys,France,Mediterranean and W Asia,Western Europe,45.775,2.970,7,0,Unknown VEI,NaN,U-HR,NaN
2,210030,Olot Volcanic Field,Spain,Mediterranean and W Asia,Western Europe,42.170,2.530,5,0,No confirmed eruptions,NaN,U-NHHR,NaN
3,210040,Calatrava Volcanic Field,Spain,Mediterranean and W Asia,Western Europe,38.870,-4.020,6,0,Unknown VEI,NaN,U-HR,NaN
4,211001,Larderello,Italy,Mediterranean and W Asia,Italy,43.250,10.870,4,0,3,NaN,U-HR,NaN
5,211003,Vulsini,Italy,Mediterranean and W Asia,Italy,42.600,11.930,5,0,Unknown VEI,NaN,U-HR,NaN
6,211004,Alban Hills,Italy,Mediterranean and W Asia,Italy,41.730,12.700,7,0,No confirmed eruptions,NaN,U-NHHR,NaN
7,211010,Campi Flegrei,Italy,Mediterranean and W Asia,Italy,40.827,14.139,7,1,5,3.0,NaN,3.0
8,211020,Vesuvius,Italy,Mediterranean and W Asia,Italy,40.821,14.426,7,1,5,3.0,NaN,3.0
9,211030,Ischia,Italy,Mediterranean and W Asia,Italy,40.730,13.897,5,0,3,NaN,U-HR,NaN

In [30]:
#Cleanup Data for SQL import
volcano_df['V_Name'] = volcano_df['V_Name'].str.replace(',', '', regex=True)
volcano_df['Region'] = volcano_df['Region'].str.replace(',', '', regex=True)
volcano_df['Subregion'] = volcano_df['Subregion'].str.replace(',', '', regex=True)
volcano_df.replace({np.nan: 'None'}, inplace=True)

In [31]:
#Cleanup Data for SQL import (cont.)

# Split the 'Country' column by "-"
volcano_df['Country'] = volcano_df['Country'].str.split('-').str[0]
# Cleanup County names for key relations in SQL
volcano_df['Country'] = volcano_df['Country'].replace('DR Congo', 'Democratic Republic of the Congo')
volcano_df['Country'] = volcano_df['Country'].replace('Burma (Myanmar)', 'Myanmar')
volcano_df['Country'] = volcano_df['Country'].replace('Japan ', 'Japan')
#Taiwan is not a member of the United Nations, largely due to the One-China Policy, which is supported by the majority of UN member states.
#One-China Policy: The People's Republic of China (PRC), which governs mainland China, maintains that Taiwan is an integral part of its territory
#To linke SQL keys to UN Data Set the following replacement has to be made
volcano_df['Country'] = volcano_df['Country'].replace('Taiwan', 'China')

In [32]:
volcano_df.head(10)

,VolcanoID,V_Name,Country,Region,Subregion,Latitude,Longitude,PEI,H_active,VEI_Holoce,hazard,class,risk
0,210010,West Eifel Volcanic Field,Germany,Mediterranean and W Asia,Western Europe,50.170,6.850,6,0,Unknown VEI,None,U-HR,None
1,210020,Cha?ne des Puys,France,Mediterranean and W Asia,Western Europe,45.775,2.970,7,0,Unknown VEI,None,U-HR,None
2,210030,Olot Volcanic Field,Spain,Mediterranean and W Asia,Western Europe,42.170,2.530,5,0,No confirmed eruptions,None,U-NHHR,None
3,210040,Calatrava Volcanic Field,Spain,Mediterranean and W Asia,Western Europe,38.870,-4.020,6,0,Unknown VEI,None,U-HR,None
4,211001,Larderello,Italy,Mediterranean and W Asia,Italy,43.250,10.870,4,0,3,None,U-HR,None
5,211003,Vulsini,Italy,Mediterranean and W Asia,Italy,42.600,11.930,5,0,Unknown VEI,None,U-HR,None
6,211004,Alban Hills,Italy,Mediterranean and W Asia,Italy,41.730,12.700,7,0,No confirmed eruptions,None,U-NHHR,None
7,211010,Campi Flegrei,Italy,Mediterranean and W Asia,Italy,40.827,14.139,7,1,5,3.0,None,3.0
8,211020,Vesuvius,Italy,Mediterranean and W Asia,Italy,40.821,14.426,7,1,5,3.0,None,3.0
9,211030,Ischia,Italy,Mediterranean and W Asia,Italy,40.730,13.897,5,0,3,None,U-HR,None

In [33]:
volcano_df.to_csv('Output/volcano_data.csv', index=False, encoding='utf-8')

# Create a new DataFrame with the sum of volcanoes for each country

In [34]:
# Create a new DataFrame with the sum of volcanoes for each country
volcanoes_by_country_df = volcano_df['Country'].value_counts().reset_index()
volcanoes_by_country_df.columns = ['Country', 'Total Volcanoes']
# Create a new DataFrame with the sum of active volcanoes for each country
active_volcanoes = volcano_df.groupby('Country')['H_active'].sum().reset_index()

In [35]:
# Merge the two DataFrames by Country
merged_df = volcanoes_by_country_df.merge(active_volcanoes, on='Country', how='inner')
merged_df = merged_df.rename(columns={'H_active': 'Active Volcanoes'})
merged_df.head(10)

            Country  Total Volcanoes  Active Volcanoes
0     United States              176                72
1            Russia              153                48
2         Indonesia              142                78
3             Japan              130                72
4             Chile              105                40
5          Ethiopia               59                11
6  Papua New Guinea               56                20
7       Philippines               47                18
8            Mexico               40                10
9           Ecuador               34                18

In [36]:
merged_df.to_csv('Output/volcanoes_by_country2.csv', index=False, encoding='utf-8')

# Scrape VEI Pandas Table from Wikipedia's List of countries by Human Development Index article

In [37]:
# Read in HTML tables into a DataFrame
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_Human_Development_Index',encoding='utf-8')
human_development_index_df= df[1]

In [38]:
human_development_index_df.head(10)

                         Rank                              Nation  \
  2021 data (2022 report)​[2] Change since 2015​[20]       Nation
0                           1                    NaN  Switzerland
1                           2                    NaN       Norway
2                           3                    NaN      Iceland
3                           4                    (3)    Hong Kong
4                           5                    (3)    Australia
5                           6                    NaN      Denmark
6                           7                    (2)       Sweden
7                           8                    (6)      Ireland
8                           9                    (5)      Germany
9                          10                    (1)  Netherlands

                          HDI
  2021 data (2022 report)​[2] Average annual growth (2010–2021)​[20]
0                       0.962                                  0.19%
1                       0.961                                  0.19%
2                       0.959                                  0.56%
3                       0.952                                  0.44%
4                       0.951                                  0.27%
5                       0.948                                  0.34%
6                       0.947                                  0.36%
7                       0.945                                  0.40%
8                       0.942                                  0.16%
9                       0.941                                  0.24%

In [39]:
# remove the second level of columns (i.e., the 'Examples' columns)
human_development_index_df.columns = human_development_index_df.columns.droplevel(level=1)

In [40]:
human_development_index_df.head(10)

  Rank Rank       Nation    HDI    HDI
0    1  NaN  Switzerland  0.962  0.19%
1    2  NaN       Norway  0.961  0.19%
2    3  NaN      Iceland  0.959  0.56%
3    4  (3)    Hong Kong  0.952  0.44%
4    5  (3)    Australia  0.951  0.27%
5    6  NaN      Denmark  0.948  0.34%
6    7  (2)       Sweden  0.947  0.36%
7    8  (6)      Ireland  0.945  0.40%
8    9  (5)      Germany  0.942  0.16%
9   10  (1)  Netherlands  0.941  0.24%

In [41]:
# Drop HDI - Average annual growth Column
human_development_index_df = human_development_index_df.iloc[:, :-1]
# Drop Rank - Change since 2015 Column
human_development_index_df = human_development_index_df.drop('Rank', axis=1)
human_development_index_df['rank'] = range(1, len(human_development_index_df) + 1)

# Rows to add for SQL key connections (No UN HDI data for these entities)
new_row1 = {'Nation':'Undersea Features'}
new_row2 = {'Nation':'Antarctica'}
new_row3 = {'Nation':'Martinique'}
new_row4 = {'Nation':'North Korea'}
new_row5 = {'Nation':'Montserrat'}
# Append the new rows to the DataFrame
human_development_index_df = human_development_index_df.append(new_row1, ignore_index=True)
human_development_index_df = human_development_index_df.append(new_row2, ignore_index=True)
human_development_index_df = human_development_index_df.append(new_row3, ignore_index=True)
human_development_index_df = human_development_index_df.append(new_row4, ignore_index=True)
human_development_index_df = human_development_index_df.append(new_row5, ignore_index=True)

C:\Users\Christopher Hornung\AppData\Local\Temp\ipykernel_42816\2241983664.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  human_development_index_df = human_development_index_df.append(new_row1, ignore_index=True)
C:\Users\Christopher Hornung\AppData\Local\Temp\ipykernel_42816\2241983664.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  human_development_index_df = human_development_index_df.append(new_row2, ignore_index=True)
C:\Users\Christopher Hornung\AppData\Local\Temp\ipykernel_42816\2241983664.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  human_development_index_df = human_development_index_df.append(new_row3, ignore_index=True)
C:\Users\Christopher Hornung\AppData\Local\Temp\ipykernel_42816\2241983664.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  human_development_index_df = human_development_index_df.append(new_row4, ignore_index=True)
C:\Users\Christopher Hornung\AppData\Local\Temp\ipykernel_42816\2241983664.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  human_development_index_df = human_development_index_df.append(new_row5, ignore_index=True)

In [42]:
human_development_index_df.head(200)

                Nation    HDI  rank
0          Switzerland  0.962   1.0
1               Norway  0.961   2.0
2              Iceland  0.959   3.0
3            Hong Kong  0.952   4.0
4            Australia  0.951   5.0
..                 ...    ...   ...
191  Undersea Features    NaN   NaN
192         Antarctica    NaN   NaN
193         Martinique    NaN   NaN
194        North Korea    NaN   NaN
195         Montserrat    NaN   NaN

[196 rows x 3 columns]

In [43]:
human_development_index_df.to_csv('Output/human_development_index.csv', index=False, encoding='utf-8')